@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Outfit', sans-serif;
  background: #000;
  color: #333333;
  margin: 0;
  padding: 0;
  color: #fff;
}

.loader {
  border: 5px solid #E0E0E0;
  border-top: 5px solid #3897F0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1.2s linear infinite;
  margin: 50px auto;
  box-shadow: none;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

.underline {
  background-color: #a1a9afff;
  height: 3px;
  width: 100%;
  margin: 20px auto 35px;
  border-radius: 4px;
}

.post-container {
  max-width: 100vw;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 15px;
}

.post-card {
  width: 250px;
  background: #000;
  border: 1px solid #ac9c9cff;
  border-radius: 10px;
  transition: box-shadow 0.15s ease;
  cursor: pointer;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post-card:hover {
  box-shadow: 0 4px 12px rgba(56, 151, 240, 0.3);
}

.post-card p {
  margin: 12px 15px 10px;
  font-size: 14px;
  line-height: 1.4;
  color: #fff;
  word-wrap: break-word;
}

.post-card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.single {
  margin: 50px auto;
  max-width: 300px;
  padding: 2px;
  background: #3b3434ff;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(56, 151, 240, 0.15);
}

.singleCard {
  padding: 30px 20px;
  width: 100%;
  margin: auto;
  background: #000;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(56, 151, 240, 0.1);
  color: #444;
}

.heading {
  text-align: center;
  font-size:1.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
}

.single-img{
  border-radius: 10px;
}
